__pycache__/
*.pyc
.pytest_cache/
pytest-cache-files-*/
data/
storage/
.env
.env.production
*.egg-info/
.coverage*
htmlcov/

# frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/out/
