@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  :root {
    --sidebar-width: 15rem;
  }
}
